# Network Configuration
NEXT_PUBLIC_NETWORK_ID=1924
NEXT_PUBLIC_RPC_URL=https://swell-testnet.alt.technology
NEXT_PUBLIC_CHAIN_NAME=Swellchain Testnet

# Contract Addresses
NEXT_PUBLIC_VAULT_ADDRESS=0x80AFC56FfDFaB6858c2F2D233024E0a9581Db4bB

# API Keys
ETHERSCAN_API_KEY=your_etherscan_api_key_here 